.signup-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-image1 {
    position: absolute;
    top: 24%;
    left: 2%;
    width:34%;
    height: 45%;
    background-image: url('/Login3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0; /* Places BG Image below my content*/
  }
  .background-image2 {
    position: absolute;
    top: 10%;
    right: -2%;
    width:45%;
    height: 60%;
    background-image: url('/Login4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }
  .background-image3 {
    position: absolute;
    top: 10%;
    right: -2%;
    width:45%;
    height: 60%;
    background-image: url('/Pomodoro1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }
  .background-image3 {
    position: absolute;
    top: 10%;
    right: -2%;
    width:45%;
    height: 60%;
    background-image: url('/Pomodoro2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }
  
  .form-container {
    position: relative;
    z-index: 1; /* Places above the BG Image */
  }
  