.signup-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-image1 {
    position: absolute;
    top: 14%;
    left: 3%;
    width:32%;
    height: 63%;
    background-image: url('/Login1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0; /* Places BG Image below my content*/
  }
  .background-image2 {
    position: absolute;
    top: 13%;
    right: -1%;
    width:43%;
    height: 64%;
    background-image: url('/Login4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }
  
  .form-container {
    position: relative;
    z-index: 1; /* Places above the BG Image */
  }
  